<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style3.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class= "wrapper">
            <div class = "content">
                <label for="username">User name</label>
                <input type="text" name = "username" autocomplete="off">
                <label for="password">password</label>
                <input type = "password" name = "password" autocomplete="off">
                <input class = "submit" type="submit">
            </div>
        </div>
    </form>

  

</body>
</html>