<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>credentials</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/" method="post">
        <div class= "wrapper">
            <div class = "content">
                <label for="email">email</label>
                <input type="text" name = "username" placeholder = "Your email"autocomplete="off">
                <label for="password">password</label>
                <input type = "password" name = "password" placeholder = "must contain 8 characters"autocomplete="off">
                <input class = "submit" type="submit">
            </div>
        </div>
    </form>

    
</body>
</html>